.news-sub-container {
  width: 100%;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  gap: 10px;

  .join {
    font-size: 22px;    
  }

  .inpt-box {
    display: flex;
    gap: 10px;

    .inpt {
      height: 48px;
      width: 280px;
      border-radius: 5px;
      border: none;
      outline: none;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: #585858;
      padding-left: 10px;

      &::placeholder {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: #585858;
      }
    }

    .btn-want {
      height: 48px;
      width: 140px;
      border-radius: 5px;
      background: #000;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      border: none;
      outline: none;
      cursor: pointer;
    }

    position: relative;

    .error-box {
      position: absolute;
      font-size: 12px;
      color: #cb0d0d;
      left: 5px;
      top: 55px;
      display: flex;
      gap: 10px;

      .error-field {
        width: 280px;
      }
    }

    .error-mob {
      text-align: left;
      width: 100%;
      height: 12px;
      padding-left: 5px;
      display: flex;
      align-items: flex-start;
      margin-top: -5px;

      .error-field-mob {
        color: #cb0d0d;
        font-size: 11px;
      }
    }
  }
  @media(max-width: 768px) {
    gap: 25px;

    .join {
      font-size: 28px;
    }

    .inpt-box {
      flex-direction: column;
      align-items: center;  
      width: 100%;

      .inpt {
        width: 100%;
        height: 55px;
      }

      .btn-want {
        width: 100%;
        height: 55px;
      }
    }
  }
}